

@media screen and (max-width:900px) {
    section.top .container {
        min-height:calc(100vh - 75px);
        flex-direction: column;
    }
}
@media screen and (max-width:800px){
    header nav {
        width:100%;
        display:none;
        opacity:0;
        background-color:rgba(0,0,0,.6);
        position:fixed;
        top:70px;
        left:0;
        bottom:0;
        z-index:99;
        border-top:1px solid rgba(255,255,255, .3);
        transition:all ease 1s;
    }
    .menu-open,
    .menu-closed{display:block;}
    header h1{ margin:auto;}
    header ul{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background-color:rgba(0,0,0,.9);
        width:40vw;
        height:100%;
    }
    header li{
        padding:30px 0;
    }
   
    .projeto-img{
        width:80%;
    }
    section.certificados > .container{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:10px;
       
    }
    section.contato .container{
        flex-direction: column;
        padding: 30px 2%;
    }    
    .contato-sociais{
        grid-template-columns:repeat(4,1fr);
    }
    .contato-form{
        width:100%;
    }
    .contato-form form{
        width:90%;
    }
}
@media screen and (max-width:600px){
    
    .center-skills .closed-modal{
        position:absolute;
        right:18px;
        top:initial;
        bottom:18px;
       
    }
    .center-skills-box{
        grid-template-columns:repeat(3,1fr);
    }
    .skill-card h2{
        font-size:17px;
        margin-top:10px;
    }
    .contato-sociais{
        grid-template-columns:repeat(2,1fr);
    }
}
@media screen and (max-width:460px){
    header h1{
        font-size:33px;
    }
    .menu-open{
        top:30px;
    }
    .center-skills-box{
        grid-template-columns:repeat(2,1fr);
    }
    .projeto-img{
        width:100%;
    }
    section.certificados > .container{
        display:grid;
        grid-template-columns:1fr;
        gap:10px;
       
    }
}
@media screen and (max-width:360px){
    header h1{
        font-size:30px;
        margin:initial;
    }
    .top-img img{
        width:200px;
        height:200px;
        
    }
    .top-text h2{
        font-size:40px;
    }
    .top-text h4{
        font-size:25px;
    }
    .center-info button{
        font-size:15px;    
    }
    .contato-form h4{font-size:20px}
    .contato-form form{
        width:100%;
    }
}