@import url('media.css');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Tiro Devanagari Hindi', serif;
}
body{
    background-color:rgba(0,0,0,.9);
}
.container{
    display:flex;
    max-width:1200px;
    width:100%;
    margin:auto;
    padding:0 2%;
}

/* Animações */
@keyframes h1anime{
    0%{color:#fff;left: 8px;text-shadow:0 0 10px #000;}
    50%{color:#ccc; left: 4px;text-shadow:0 0 10px #555;}
    100%{color:#222; left:0;text-shadow:0 0 10px #fff;}
}

/* === header ==== */

header {
    padding:10px 0;
    width:100%;
    background-color:rgba(16, 16, 132,.5);
}
header .container{
    justify-content:space-between;
    align-items:center;
}
header h1{
    position:relative;
    font-size:40px;
    animation-name: h1anime;
    animation-duration:10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.menu-open,
.menu-closed{
    color:#fff;
    font-size:30px;
    cursor:pointer;
    display:none;
}
.menu-open:hover,
.menu-closed:hover{
    opacity:.7;
}
.menu-open{
    
    position:absolute;
    right:10px;
    top:40px;
}
.menu-closed{
    background-color:rgba(16, 16, 132,.5);
    height:40px;
    width:40px;
    text-align: center;
}
header ul{
    display:flex;
    list-style:none;
}
header li a{
    text-decoration:none;
    font-size:20px;
    color:#fff;
    font-weight:700;
    font-style:italic;
    padding:15px;
    transition:all ease .4s;
}
header li a:hover{
    opacity:.5;
}
/* ==== section-top ==== */

section.top{
    background-image:url('../images/background_01.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
section.top .container {
    min-height:calc(100vh - 75px);
}

.top-img{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
}
.top-img img{
    width:300px;
    height:300px;
    border:10px solid #fff;
    transform:rotate(-7deg);
    border-radius:3px;
    margin:40px 0;
}
.top-text{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:30px;
    color:#fff;
    text-shadow: 1px 1px 5px #222;
}
.top-text h2{
    font-size:50px;
}
.top-text h4{
    font-size:30px;
}
/* === section-center ==== */

section.center .container {
    position:relative;
}
.center-info{
    max-width:700px;
    margin:30px auto;
    padding:30px;
}
.center-info h3{
    text-align: center;
    font-size:30px;
    color:#fff;
}
.center-info p{
    line-height:23px;
    font-size:17px;
    color:#ccc;
}
.center-info button{
    margin:30px auto;
    display:block;
    padding:10px 15px;
    font-size:17px;
    font-weight:700;
    border:none;
    border-radius:20px;
    background-color: rgba(16, 16, 132,.5);
    color:#fff;
    cursor:pointer;
    box-shadow:0 1px 6px #fff;
    transition:all ease .4s;
}
.center-info button:hover{
    opacity:.5;
    box-shadow:0 1px 15px #fff;
}
.center-skills{
    width:100%;
    display:none;
    align-items: center;
    opacity:0;
    padding:20px;
    position:absolute;
    left:0;
    top:0;
    z-index:99;
    color:#fff;
    transition:all ease .5s;
}
.center-skills .closed-modal{
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    font-size:30px;
    padding:10px;
    line-height: 25px;
    background-color:rgba(16, 16, 132,.5);
    cursor:pointer;
}
.center-skills-box{
    width:100%;
    display:grid;
    background-color:#000;
    grid-template-columns:repeat(4, 1fr);
    justify-items: center;
    
    
}
.center-skills-box .skill-card{
    width:50%;
    text-align: center;
    transform:rotateY(90deg);
    transition:all ease 1s;
    margin:20px 0;
}
.skill-card h2{
    font-size:20px;
    margin-top:10px;
}

